@font-face{
	font-family: "DIN CON";
	src: url('../fonts/din-pro-cond/DINPro-CondBold.otf');
}
@font-face{
	font-family: "DIN CON LIGHT";
	src: url('../fonts/din-pro-cond/DINPro-CondLightIta.otf');
}

.name {
	font-family: "DIN CON";
}

h1{
	font-size: 80px;

}

p.small {
	font-family: "DIN CON LIGHT";
	font-size: 24px;
}

.big{
	font-size: 120px;
}

.link{
    margin-left: 20px;
}

a{
    color:#000;
}

@media(min-width:1000px){
	.negative-left{
		margin-left:-17%;
	}	
}

@media(max-width:1000){
	.negative-left{
		margin-left:-8%;
	}	
}